.comments {
    .title {
        padding-left: 15px;
    }
}

.comment {
    @include make-row();

    .user-image {
        display: none;

        @include media-breakpoint-up(sm) {
            @include make-col-ready();
            @include make-col(1);
            display: block;
            padding: 0; // Reset padding to give full width to image

            img, svg {
                display: block;
                width: 100%;
                height: auto;
                max-height: 60px;
                max-width: 60px;
                color: #797979;
            }
        }
    }

    .comment-container {
        @include make-col-ready();
        
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(11);
        }
    }

    &.parent-comment {
        // Main comment thread
        margin-bottom: 1em;
    }

    @include media-breakpoint-down(xs) {
        &.parent-comment .child-comment .comment-container {
            @include make-col-offset(1);
            @include make-col(11);
        }
    }

    .comment-content {
        background-color: #f4f4f4;
        padding: 1em;
        margin-bottom: 1em;
        position: relative;

        @include media-breakpoint-up(sm) {
            &:after {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid #f4f4f4;
                border-top: 10px solid #f4f4f4;
                border-bottom: 10px solid transparent;
                left: -19px;
                top: 6px;
            }
        }
    }

    .name {
        
        &.admin {
            color: #007bff;
        }
    }
}

.comment-form {

    @include make-row();
    margin: 0;

    .form-message {
        background-color: #f4f4f4;
        padding: 1em;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .captcha-container {
        width: 50%;
        min-height: 100px;
    }
    .btn {
        width: 50%;
        float: right;
    }

    label {
        font-weight: 500;
        padding-right: 10px;
    }
    small {
        font-weight: 300;
    }
}

.reply-form-container {
    display: none;
    
    @include media-breakpoint-up(sm) {
        border: 1px solid #bdbdbd;
        padding: 1em;
    }

    margin-top: 2em;

    .instruction {
        font-weight: 500;
    }
}