//
// Images & svg
//

.section-image-me  {
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;

  max-height: 500px;
  .image-me {

    @include media-breakpoint-up(md) {
      margin-left: -150px;
    }
  }
}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.image-banner {
  display: flex;

  img {
    flex: 0 1 0;
    min-width: 150px;
    height: auto;
  }
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 10px 0 2rem 0;
}
.image-grid-3 {
  .image-grid-item {
    flex: 0 1 33.33%;
    border: 2px solid $body-bg;
    img {
      width: 100%;
    }
  }
}
