//
// Layout elements
//

body {
  padding: 0;

  @include media-breakpoint-up(md) {
    // padding: 1.5rem;
    padding-top: 2rem;
  }
  @include media-breakpoint-up(lg) {
    // padding: 3rem;
    padding-top: 5rem;
  }
}

.page-post .content-wrapper {
  background-color: white;
  margin: 2rem 0 2rem 0;
  padding-bottom: 2rem;
}

.container {
  max-width: 60rem;
  @include make-container();
}

.section {
  @include make-row();
  margin-bottom: 3rem;
}

.site-footer p {
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
  color: #999999;
}

//
// Special elements for card like sections
// such as used on the home page
//
.section-card {
  @include make-row();

  background-color: white;
  border-radius: 2px;

  margin-bottom: 3rem;
}

.section-image, .section-content-title {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    padding-top: 1rem;
    @include make-col(5);
  }
}
.section-content {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(7);
    padding: 1rem 2.5rem;
  }
}
.section-aside {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col-offset(5);
    @include make-col(7);
  }
}
