//
// Main site nav
//
.site-name {
  position: absolute;
  top: -49px;
  font-size: 45px;
  left: 2rem;

  color: #6d6d6d;
  text-shadow: 1px 1px 0px white;
  font-weight: 200;
}

.site-navigation {
  border-top: 1px solid #6d6d6d;
  box-shadow: 1px -1px 0px 0px white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  background-color: #f9f9f9;
  position: sticky;
  top: -2px;
  z-index: 1000;

  margin-bottom: 1rem;

  .nav-item {
    padding: 5px;

    flex: 1 1 0;
    text-align: center;

    font-size: 1.25rem;
    font-weight: 200;
    color: #6d6d6d;

    text-shadow: 1px 1px 0px white;

    &:hover {
      background-color: white;
      color: $link-color;
      text-decoration: none;
      font-weight: 400;
    }

    &.active {
      background-color: white;
      color: $link-color;
    }
  }
  .nav-brand {
    svg {
      vertical-align: text-bottom;
    }
  }
}

// Btn group
.btn-group {
  text-align: center;

  h2 {
    color: #6d6d6d;
  }
}

.btn.nav-btn {
  font-weight: 200;
  border: 1px solid #e6e5e5;
  background-color: white;

  &:hover {
    border: 1px solid $link-color;
  }
}

// Quick nav on pages
.nav-full-width {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;

  div, a {
    flex: 1 1 0;
    text-align: center;
    align-self: center;
  }
}
