//
// Main site nav
//
.site-name {

  font-size: 30px;

  @include media-breakpoint-up(md) {
    top: -49px;
    left: 2rem;

    position: absolute;
    text-shadow: 1px 1px 0px white;
    font-size: 45px;

  }

  color: #6d6d6d;
  font-weight: 200;
}

.nav-toggle {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.nav-wrapper {
  width: 100%;
  border-top: 1px solid #6d6d6d;
  box-shadow: 1px -1px 0px 0px white;
  background-color: #efefef;
  z-index: 1000;

  position: fixed;

  // Default hidden for mobile
  display: none;
  border-bottom: 1px solid #6d6d6d;

  @include media-breakpoint-up(md) {
    display: block;
    position: sticky;
    border-bottom: 0;
  }
  top: -2px;
}

.site-navigation {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 0;

  .nav-item {

    @include media-breakpoint-up(md) {
      display: block;
      flex: 1 1 0;
    }
    flex: 0 0 100%;

    padding: 5px;

    text-align: center;

    font-size: 1.25rem;
    font-weight: 200;
    color: #6d6d6d;

    text-shadow: 1px 1px 0px white;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: $link-color;
    }

    &.active {
      background-color: white;
      color: $link-color;
    }
  }
  .nav-brand {
    svg {
      vertical-align: text-bottom;
    }
  }
}

// Add toggle behaviour
.mobile-menu-toggle {
  display: none;
}
.mobile-menu-toggle:checked ~ .nav-wrapper {
  display: block;
}
.nav-toggle.nav-item {
  display: block;
  position: fixed;
  z-index: 1001;
  top: -3px;
  right: 5px;

  color: #6d6d6d;
  font-size: 2.5rem;

  transition: all 0.2s ease-in-out;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
.mobile-menu-toggle:checked ~ .site-header .nav-toggle {
  transform: rotate(90deg);
  color: #b7b7b7;
}
// Btn group
.btn-group {
  text-align: center;

  h2 {
    color: #6d6d6d;
  }
}

.btn.nav-btn {
  font-weight: 200;
  border: 1px solid #e6e5e5;
  background-color: white;

  &:hover {
    border: 1px solid $link-color;
  }
}

// Quick nav on pages
.nav-full-width {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;

  div, a {

    flex: 1 1 100%;
    padding: 5px;

    @include media-breakpoint-up(md) {
       flex: 1 1 auto;
    }

    text-align: center;
    align-self: center;
  }
}
