h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.page-title {
  margin-bottom: 1rem;
}

.section-updates h1, .section-content-title h2 {
  text-align: center;
  color: #6d6d6d;
  text-shadow: 1px 1px 0px white;

  margin-bottom: 40px;
  font-weight: 200;
}
.section-updates h1 {
  text-align: center;
}
.section-content-title h2 {
  padding-top: 1rem;

  text-align: right;
  font-size: 2rem;
}
