<script type="text/javascript">
  window.captchaSiteKey = '{{ site.comments.captcha_key }}';
</script>

{% if page.jquery or page.chartjs or page.readingTime or page.imageslider %}
<script type="text/javascript">
/* https://github.com/muicss/loadjs */
!function(n,o){function e(n,o){n=n.push?n:[n];var e,t,r,i,u=[],f=n.length,c=f;for(e=function(n,e){e.length&&u.push(n),c-=1,0===c&&o(u)};f--;)t=n[f],r=a[t],r?e(t,r):(i=d[t]=d[t]||[],i.push(e))}function t(n,o){if(n){var e=d[n];if(a[n]=o,e)for(;e.length;)e[0](n,o),e.splice(0,1)}}function r(n,e){var t=o.createElement("script");t.src=n,t.onload=t.onerror=function(o){t.parentNode.removeChild(t),t=null,e(n,o.type)},f.appendChild(t)}function i(n,o){n=n.push?n:[n];var e,t=n.length,i=t,u=[];for(e=function(n,e){"error"===e&&u.push(n),i-=1,0===i&&o(u)};t--;)r(n[t],e)}function u(o,e,r,u){var f,a,d;if(e&&!e.call&&(f=e),a=f?r:e,d=f?u:r,f){if(f in l)throw new Error("LoadJS: Bundle already defined");l[f]=!0}n.setTimeout(function(){i(o,function(n){n.length?(d||c)(n):(a||c)(),t(f,n)})},0)}var f=o.head,c=function(){},l={},a={},d={};u.ready=function(n,o,t){return e(n,function(n){n.length?(t||c)(n):(o||c)()}),u},u.done=function(n){t(n,[])},n.loadjs=u}(window,document);

var preloadDependencies = [
  '{{ "/assets/js/main.min.js" | prepend: site.baseurl }}',

  {% if page.jquery %}
  'https://code.jquery.com/jquery-2.1.4.min.js',
  {% endif %}

  {% if page.chartjs %}
  '{{ "/assets/js/Chart.min.js" | prepend: site.baseurl  }}',
  {% endif %}

  {% if page.tags and page.tags contains 'home automation' %}
  /* Disable sitemap for now 'https://link.wouterbulten.nl/urls.js?v={{ site.time }}', */
  {% endif %}

  {% if page.imageslider %}
  '{{ "/assets/js/BeerSlider.js" | prepend: site.baseurl }}',
  {% endif %}

  {% if page.openseadragon %}
  '{{ "/assets/dzi/openseadragon.min.js"| prepend: site.baseurl }}',
  {% endif %}
];

var pageScripts = [
  {% for script in page.post_scripts %}
  {% capture script_file %}/assets/js/post-scripts/{{ script }}.js{% endcapture %}
  '{{ script_file | prepend: site.baseurl  }}',
  {% endfor %}
];

/* First load main dependencies */
loadjs(preloadDependencies, 'page', function() {

  /* Load additional scripts */
  loadjs(pageScripts, 'custom-scripts');

  {% if page.tags and page.tags contains 'home automation' %}
    /* Parse urls */
    if(window.siteMap) {
      var links = document.getElementsByTagName('a');
      for(i = 0; i < links.length; i++) {
        var link = links[i];

        if(link.href in window.siteMap) {
          link.href = window.siteMap[link.href];
        }
      }
    }
  {% endif %}

  {% if page.imageslider %}
  /* Wait for images on slides to be loaded, then show the slider */
  var elements = document.getElementsByClassName('lazyload-slider');
  for(var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('lazyloaded', function(e) {
          new BeerSlider(e.target.parentNode.parentNode);
      });
  }
  {% endif %}

  {% if page.openseadragon %}
  window.loadDzi();
  {% endif %}
});
</script>
{% else %}
  <!-- Always load base js file (includes lazysizes and comment js) -->
  {%if true or jekyll.environment == "production" %}
  <script src='{{ "/assets/js/main.min.js" | prepend: site.baseurl }}' async=""></script>
  {% else %}
  <script src='{{ "/assets/js/main.js" | prepend: site.baseurl }}' async=""></script>
  {% endif %}
{% endif %}

{% if page.layout == 'post' %}
<script type="text/javascript">
HTMLElement.prototype.wrap = function(elms) {
    /* Convert `elms` to an array, if necessary.*/
    if (!elms.length) elms = [elms];

    /* Loops backwards to prevent having to clone the wrapper on the*/
    /* first element (see `child` below).*/
    for (var i = elms.length - 1; i >= 0; i--) {
        var child = (i > 0) ? this.cloneNode(true) : this;
        var el    = elms[i];

        /* Cache the current parent and sibling.*/
        var parent  = el.parentNode;
        var sibling = el.nextSibling;

        /* Wrap the element (is automatically removed from its current*/
        /* parent).*/
        child.appendChild(el);

        /* If the element had a sibling, insert the wrapper before*/
        /* the sibling to maintain the HTML structure; otherwise, just*/
        /* append it to the parent.*/
        if (sibling) {
            parent.insertBefore(child, sibling);
        } else {
            parent.appendChild(child);
        }
    }
};

/* Creates Captions from Alt tags */
var elements = document.querySelectorAll(".post-content img");
Array.prototype.forEach.call(elements, function(el, i){
    if(el.alt && !el.classList.contains('emoji') && !el.classList.contains('no-alt')) {

        /* Wrap in figure element */
        var wrapper = document.createElement('figure');
        wrapper.classList.add('image');

        /* Make sure that captions work in post-image format */
        if(el.classList.contains('post-image')) {
          el.classList.remove('post-image');
          wrapper.classList.add('post-image');
        }

        wrapper.wrap(el);

        /* Add caption */
        var caption = document.createElement('figcaption');
        caption.innerText = el.alt;
        wrapper.appendChild(caption);

    }
});

</script>
{% endif %}
{% if jekyll.environment == "production" %}
<script type="text/javascript">
function ready(fn) {
  if (document.readyState != 'loading'){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}

ready(function() {
  setTimeout(function() {
    if(navigator.doNotTrack == "1" || !(window.ga && ga.loaded) || !window.ga_loaded) {
        var request = new XMLHttpRequest();
        var notify_url = 'https://convey.wouterbulten.nl/notify/?';
        notify_url += 'p={{ page.url | default: "" | cgi_escape }}';
        notify_url += '&r=' + encodeURIComponent(document.referrer);
        notify_url += '&t={{ page.title | default: "" | cgi_escape }}';

        request.open('GET', notify_url, true);
        request.withCredentials = true;
        request.send();
    }
  }, 1000);
});
</script>
{% endif %}

{%if page.math %}
<script async type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } },
  "HTML-CSS": {
    scale: 100
  },
  tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
  }
});
</script>
<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

{% if page.contact_form %}
<script type="text/javascript">
/* Reset the form by removing the honey-trap */
document.getElementById('contact_name').name="name"
</script>
{% endif %}

{% if page.onelink %}
<div id="amzn-assoc-ad-5e931659-551b-4f4e-9532-f773a170cd51"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=5e931659-551b-4f4e-9532-f773a170cd51"></script>
{% endif %}

{% if jekyll.environment == "production" %}
<!-- Analytics code -->
<script type="text/javascript">
/* do not load GA if DoNotTrack is set */
if(navigator.doNotTrack != "1") {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  window.ga_loaded = false;
  ga(function(t) {
    window.ga_loaded = true;
  });
  ga('create', 'UA-11759031-3', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
} else {
  console.info("DoNotTrack header was set, not loading Google Analytics for this request.");
}
</script>
{% endif %}
