<nav class="site-navigation container">
    <a href="/" class="nav-brand nav-item"><svg class="svg-icon"><use xlink:href="#icon-home-outline"></use></svg></a>
    <a href="/about" class="nav-item">About</a>
    <a href="/curriculum-vitae" class="nav-item">CV</a>

    {% if page.categories[1] == 'food' %}
      <a href="/food" class="nav-item active">Food</a>
    {% else %}
      <a href="/food" class="nav-item">Food</a>
    {% endif %}

    {% if page.categories[1] == 'tech' %}
      <a href="/tech" class="nav-item active">Tech</a>
    {% else %}
      <a href="/tech" class="nav-item">Tech</a>
    {% endif %}

    <a href="/contact" class="nav-item">Contact</a>
</nav>
