{% if page.layout == 'post' %}
{% if page.categories contains 'food' %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Recipe",

        "name": "{{ page.title }}",
        "keywords": "{{ page.tags | join: ', ' }}",

        {% if page.post_image_large %}
        "image": [
            "{{ site.url}}{{ page.post_image_large }}",
            "{{ site.url}}{{ page.post_image }}",
            "{{ site.url}}{{ page.post_image_small }}"
        ],
        {% else %}
        "image": "",
        {% endif %}

        "datePublished": "{{ page.date | date_to_xmlschema }}",

        {% if page.modified_at %}
        "dateModified": "{{ page.modified_at | date_to_xmlschema }}",
        {% else %}
        "dateModified": "{{ page.date | date_to_xmlschema }}",
        {% endif %}

        "author": {
          "@type": "Person",
          "name": "{{ site.author }}"
        },

        {% if page.description %}
        "description": "{{ page.description }}"
        {% else %}
        "description": "{{ page.excerpt | strip_html }}"
        {% endif %}
      }
</script>
{% endif %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ page.url }}"
        },
        "headline": "{{ page.title }}",
        "name": "{{ page.title }}",
        "keywords": "{{ page.tags | join: ', ' }}",

        {% if page.post_image_large %}
        "image": "{{ site.url}}{{ page.post_image_large }}",
        {% elsif page.image %}
        "image": "{{ site.url}}{{ page.image }}",
        {% else %}
        "image": "",
        {% endif %}

        "dateCreated": "{{ page.date | date_to_xmlschema }}",
        "datePublished": "{{ page.date | date_to_xmlschema }}",

        {% if page.modified_at %}
        "dateModified": "{{ page.modified_at | date_to_xmlschema }}",
        {% else %}
        "dateModified": "{{ page.date | date_to_xmlschema }}",
        {% endif %}

        "author": {
          "@type": "Person",
          "name": "{{ site.author }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "{{ site.author }}",
          "logo": {
              "@type": "ImageObject",
              "url": "{{ site.url }}/favicon-128.png",
          },
          "url": "{{ site.url }}"
        },
        "description": "{{ page.description }}"
      }
</script>
{% endif %}
