<div class="related-posts">

  <h1>Series on Home Automation</h1>

  <p>This post is part of a series of posts on Home Automation. These posts usually cover a part of my own smart home or a project I worked on. I make heavy use of Home Assistant, Node-RED and AppDaemon to control my home; these posts are examples of this.</p>

  <p>Interested in my setup?</p>
  <p><a class="btn btn-info" href="{% post_url /tech/2019-02-04-home-assistant-smart-home-hardware-setup %}">Home Automation hardware setup</a><br><br></p>

  <h3>Other posts in this series</h3>

  <p>Interested in <b>Home Automation</b>, <b>Home Assistant</b> or <b>Node-RED</b>? I have a few other posts that might be of interest:</p>
  <br>
  <ul>
    {% for post in site.posts %}
      {% if post.tags contains 'home automation' %}
        {% if post.url != page.url %}
        <li>
          <h4 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <p>{{ post.excerpt | strip_html | truncatewords: 50 }} <a class="read-more" href="{{ post.url }}">Start reading &rarr;</a></p>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <div style="display: flex; width: 100%;">
    <div style="flex: 0 1 50%; padding: 30px 30px 30px 0; max-width: 200px;">
      {% include assets/ha-logo.html %}
    </div>
    <div style="flex: 0 1 50%; padding: 30px 30px 30px 0; max-width: 200px;">
      {% include assets/node-red-logo.html %}
    </div>

  </div>

  <p><small>Notice on Amazon or product links: Sometimes I link to products on Amazon that I bought or that could be used to implement one of my tutorials.  Some of these links contain an affiliate code from the Amazon Associate Program and I could earn from qualifying purchases. These links are personal recommendations (of products I use myself) or suggestions of products that could be interesting. However, please don't folow my advice blindly as each Smart Home has different needs and requirements.</small></p>
</div>
