---
title: Recipes &amp; Cooking
layout: default
description: An overview of my latest cooking experiments, many of them with a 'modernist cuisine' twist.
category: cooking
blog_index: true
---

<div class="section post-overview">
    <h1 class="category-title">Latest updates on Food</h1>

    <p class="lead">{{ page.description }}</p>

    <div class="blog-list">
        {% for post in site.categories.['food'] %}
        <article class="post post-with-image" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>

            <div class="post-image">
                {% if post.post_image %}
                <a href="{{ post.url }}">
                    <img src="{{ post.post_image }}">
                </a>
                {% endif %}
            </div>

            <section class="post-excerpt" itemprop="description">
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
                <span class="post-category">{{ post.categories[1] }}</span>
                |
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
                |
                <a class="read-more" href="{{ post.url }}">Start reading &rarr;</a>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
