---
title: Latest blog posts
layout: default
category: tech
description: An overview of my latest posts regarding my PhD-research (in computational pathology), deep learning, home automation and (web) development.
blog_index: true
---

<div class="section post-overview">
    <div class="section-fullpage">
        <h1 class="category-title">Latest blog posts</h1>

        <p class="lead">{{ page.description }}</p>

        <p>
            <b style="vertical-align: middle;">Subcategories:</b>
            <a class="btn btn-link" href="/blog/research/">Research posts</a>
            <a class="btn btn-link" href="/blog/home-automation/">Home Automation posts</a>
        </p>

        <hr style="margin: 1em 0 3em 0;">

        <div class="blog-list">
            {% for post in site.categories['tech'] limit: 20 %}
            {% if post.layout != 'redirect' %}
            <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <header class="post-header">
                    <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
                </header>

                <section class="post-excerpt" itemprop="description">
                    <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                </section>
                <div class="post-meta">
                    <span class="post-category">{{ post.categories[1] }}</span>
                    |
                    <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
                    |
                    <a class="read-more" href="{{ post.url }}">Start reading &rarr;</a>
                </div>
            </article>
            {% endif %}
            {% endfor %}
        </div>

        <h1>Older posts</h1>
        <ul class="blog-list-condensed">
            {% for post in site.categories['tech'] offset: 20 %}
            {% if post.layout != 'redirect' %}
            <li class="blog-item"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
