---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.home %}
  <body class="page-home" itemscope itemtype="http://schema.org/WebPage">
  {% else %}
  <body class="
    page-{{ page.permalink | replace: '/',''}}
    {% if page.blog_index %}page-category{% endif %}
    {% if page.layout == 'post' %}page-post{% endif %}
    "

    itemscope itemtype="http://schema.org/WebPage">
  {% endif %}

    {% if page.layout == 'post' %}
    <meta itemprop="inLanguage" content="en"/>
    <meta itemprop="mainEntityOfPage" content="{{@blog.url}}/{{ page.url }}/#post" />
    {% endif %}

    {% include svg-defs.html %}
    {% include navigation.html %}
    <!-- content start -->

    <div class="content-wrapper">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
