---
layout: default
---
<div class="section">
    <article class="post post-single" id="post">

    <div class="post-meta">
        <span class="post-category"><a href="/{{page.categories | join: '/'}}">&larr; Back to {{ cat }} category</a></span>
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.description %}
        <p class="description"><em>Summary: </em>{{ page.description }}</p>
        {% endif %}
        <div class="cf post-meta-text">
        <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>

            <a href="/curriculum-vitae/">
                <span class="author">
                    <span class="author-name">{{ site.author }}</span>
                </span>
            </a>
        &nbsp;on
        <time>{{ page.date | date_to_string }}</time>,
        {% if page.modified_at %}
        <i>Updated: <time>{{ page.modified_at | date_to_string }}</time></i>,
        {% endif %}
        <span class="keywords tags">keywords: <i>{{ page.tags | join: ', ' }}</i></span>{% if page.ig %},
            <a href="https://www.instagram.com/p/{{page.ig}}"><svg class="svg-icon svg-icon-ig"><use xlink:href="#icon-ig"></use></svg> View on instagram</a>
        {% endif %}
        </div>
    </div>

    <section class="post-content">
        <a name="topofpage" class="topofpage"></a>

        {% if page.post_image_large != null and page.image_in_post %}
            <img src="{{ page.post_image_large  }}" class="post-image img-thumbnail">
        {% elsif page.post_image != null and page.image_in_post %}
            <img src="{{ page.post_image  }}" class="post-image img-thumbnail">
        {% endif %}
        {{content}}
    </section>

    <footer class="post-footer">
        <section class="share">
        {% for social in site.social %}
            {% if social.share_url != null %}
            <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
            <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
            </a>
            {% endif %}
        {% endfor %}
        </section>
    </footer>
    </article>

    {% assign cat = page.categories[1] | downcase %}

    {% if cat == 'food' %}
    <div class="post-overview section-fullpage">
        <h2 class="index-headline"><span>Latest posts in the food category</span></h2>
        <div class="card-group">
        {% for post in site.categories['food'] limit:3 %}

            <article class="card" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                {% if post.post_image %}
                    <a href="{{ post.url }}">
                        <img class="card-img-top" itemprop="image" src="{{ post.post_image }}" alt="{{ post.title }}">
                    </a>
                {% endif %}
                <div class="card-block">
                    <h4 class="card-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h4>
                    <p class="card-text">{{ post.description }}</p>
                </div>
            </article>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="related-posts">
        <h2 class="index-headline"><span>Other posts related to this</span></h2>
        <ul>

        {% for post in site.related_posts limit:3 %}
        {% if post.title != page.title %}
            <li>
            <h4 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }} <a class="read-more" href="{{ post.url }}">Start reading &rarr;</a></p>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {%if site.disqus %}
    <div id="disqus_thread" class="comment-section"></div>
    <script>
    var disqus_shortname = '{{site.disqus}}';
    var disqus_config = function () {
        this.page.url = '{{site.url}}{{page.id}}/';
        this.page.identifier = '{{page.id}}';
    };
    (function() {
        var d = document, s = d.createElement('script');

        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
    {% endif %}
</div>
