//
// Custom styles for home page
//
.section-home {
  margin-bottom: 2rem;
  @include media-breakpoint-up(md) {
    margin-bottom: 6rem;
  }

  .section-image {
    background-image: url("me2.jpg");
    background-color: lightblue;
    background-size: cover;
    background-position: center center;

    min-height: 200px;
  }
  .section-content {
    text-align: center;
    min-height: 500px;

    padding: 1rem 0 0 0;

    @include media-breakpoint-up(md) {
      padding: 3rem 4rem 0 4rem;
    }
  }
}

.home-header {
  font-weight: 300;
  font-size: 2.5em;

  @include media-breakpoint-up(md) {
    font-size: 4em;
  }
  color: #505050;
}
.home-lead {
  font-weight: 200;
  color: #6d6d6d;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.nav-external {
  border-top: 1px solid #e6e5e5;
  border-bottom: 1px solid #e6e5e5;
  font-size: 20px;
  margin: 20px;

  .svg-icon {
    margin: 15px;
    vertical-align: middle;

    &:hover {
      color: $link-color;
      cursor: pointer;
    }
  }
}

.text-nav {
  font-weight: 200;
  color: #6d6d6d;
  font-size: 0.9rem;
}

.nav-main a {
  font-weight: 200;
  border: 1px solid #e6e5e5;
  margin-bottom: 2rem;

  &:hover {
    border: 1px solid $link-color;
  }
}
